{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat Room {{ room_name }}</title>
</head>
<body>
<label for="chat-log"></label><textarea id="chat-log" cols="100" rows="20"></textarea><br>
<label for="chat-message-input"></label><input class="textInput" id="chat-message-input" type="text" size="100"><br>
<input class="textInput" id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script src="{% static  'room.js' %}"></script>
</body>
</html>